nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #fff;
  border-bottom: 1px solid rgba(191, 191, 191, .8);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 26px;
  color: #4EA04D;
  letter-spacing: 1.2px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
  .nav-links a {
    color: rgb(61, 61, 61);
    letter-spacing: 1.06px;
    font-size: 18px;
  }

.bars {
  display: none;
  cursor: pointer;
  color: #4EA04D;
  font-size: 1.8em;
}


@media screen and (max-width: 1500px) {
  .nav-links {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 60%;
    height: 92vh;
    right: 0px;
    top: 8vh;
    background-color: #fff;
    border: 1px solid rgba(191, 191, 191, .8);
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }

  .bars {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.toggle .bars-icon {
  color: rgb(54, 54, 54);
}

