header {
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  position: fixed;
  border-bottom: 1px solid gray;
  top: 0;
  z-index: 9999;
}

nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.logo a {
  color: #117911;
  text-decoration: none;
}

.hamburguer {
  background-color: transparent;
  border-radius: 5px;
  border: 0;
  position: relative;
  cursor: pointer;
  display: none;
}

.hamburguer:after {
  content: "";
  position: absolute;
  top: 35%;
  left: 15%;
  width: 70%;
  height: 5%;
  border-radius: 5px;
}

.hamburguer i {
  color: green;
  font-size: 1.4em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu li {
  margin-left: 10px;
  list-style: none;
}

.menu li a {
  display: block;
  padding: 10px 15px;
  color: #555;
  text-decoration: none;
}

.menu li a:hover {
  color: #999;
}

@media screen and (max-width: 980px) {
  .hamburguer {
    display: block;
    z-index: 9999;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 20px;
    width: 100%;
    max-width: 250px;
    -webkit-transition: .5s ease-in;
    transition: .5s ease-in;
    border-left: 1px solid gray;
  }
  .menu a {
    margin: 20px 0;
  }
  .menu.active {
    right: 0;
  }
}

footer {
  height: auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #acabab;
  padding: 1em 0;
  margin-top: 2em;
}

.footer-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uni-logo {
  text-align: center;
}

.uni-logo img {
  height: 200px;
  width: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #535353;
}

.container {
  padding-right: 50px;
  padding-left: 50px;
}

@media screen and (max-width: 767px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

img {
  max-width: 100%;
}

.main-image-container {
  height: 50vh;
  margin-bottom: 4em;
}

.main-image {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/home-image.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-about h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1em;
}

.read-more {
  color: #138d13;
  margin-top: 2em;
}

.about-text {
  margin-top: 5em;
}

.sdg-container {
  text-align: center;
  margin: 50px 0;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 0;
  margin-top: 2em;
}

.links h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1em;
}

.link-item {
  margin-bottom: .6em;
}

.goal-image {
  background-image: url("../img/goals.jpg");
}

.photo-author {
  text-align: right;
  font-size: .8em;
}
/*# sourceMappingURL=style.css.map */